//
// @author : tac
// @date : 2017/3/22

doctype HTML
html(lang="en")
    head
        meta(charset="UTF-8")
        title index
        script(src="http://cdn.bootcss.com/jquery/2.2.4/jquery.js")
        script(src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js")
        script(src="http://cdn.bootcss.com/jstree/3.3.3/jstree.min.js")

        script(src="js/jquery.item-selector.min.js")

        link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css")
        link(rel="stylesheet", href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css")
        link(rel="stylesheet", href="css/bootstrap-theme/lumen.css")
        link(rel="stylesheet", href="http://cdn.bootcss.com/jstree/3.3.3/themes/default/style.min.css")
    body
    div.container
        block content
